@import url("https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Montserrat:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Montserrat", sans-serif;
  /* font-size: 10px; */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 16px;
  position: relative;
  flex-wrap: wrap;
  width: 100%;
}

.logo {
  width: 100%;
  text-align: center;
  margin: 32px;
}

.logo span {
  font-family: "Homemade Apple", cursive;
}

header nav {
  display: block;
  position: fixed;
  width: 100%;
  top: 0;
  left: -100%;
  height: 100%;
  background-color: white;
  transition: left 0.3s ease-in-out;
}

header nav.open {
  left: 0;
}
header nav ul {
  width: 100%;
}
header nav ul li {
  list-style: none;
  padding: 32px 16px;
  width: 100%;
  text-align: center;
}

header nav ul li a {
  text-decoration: none;

  color: #000;
}

.active {
  color: red;
}

header .button {
  margin: 0 auto;
}

.findgift {
  background: #f1f1f2;
  background-image: url(/img/img1people.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.findgift img {
  display: none;
}

.findgift .wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;

  align-items: center;
  background-color: #f1f1f280;
  background-clip: border-box;
  z-index: 1;
}

.findgiftnow {
  width: auto;
  max-width: 433px;
  height: 411px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
}

.about {
  background: #f1f1f2;
  background-image: url(/img/imgthx.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.about img {
  display: none;
}

.about .wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;

  align-items: center;
  background-color: #f1f1f291;
  background-clip: border-box;
  z-index: 1;
}

.how_work {
  max-width: 441px;
  width: auto;
  height: 411px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
}

p {
  margin: 15px auto 15px;
}

h1 {
  font-size: 2em;
  line-height: 1.2em;
  color: #000000;
}

h2 {
  font-size: 24px;

  /* identical to box height, or 45px */

  color: #000000;
}

h3 {
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  color: #000000;
}

h4 {
  font-size: 24px;
  line-height: 140.62%;
  /* or 34px */

  color: #000000;
}

a {
  text-decoration: none;
  color: black;
}

.gifthover .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hovertitle {
  margin: 96px auto 64px;
  font-size: 18px;
  line-height: 135.94%;
  /* identical to box height, or 24px */

  text-align: center;

  color: #000000;
}

.gifthover .options {
  display: none;
}

.slider {
  width: 100%;
}

.glide__slide {
  display: flex;
  justify-content: center;
}

.glide .option {
  margin: 40px 0;
  background: #fafafa;
}

.glide__slide--active .option {
  background-color: white;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
  z-index: 3;
}

.option-type {
  margin: 24px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */

  color: #000000;
}

.option:hover {
  background-color: white;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}

.option-type a {
  margin-top: 74px;
  text-decoration: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;

  color: #000000;
}

.contact {
  background-color: #f7941e;
}
.contacts {
  padding: 81px 15px 69px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons a {
  margin: 10px 0;
}

.blog {
  display: flex;
  flex-direction: column;
  /* margin: 88px auto 80px; */
}

.title {
  margin: 88px auto 71px;
  text-align: center;
}

.title p {
  text-align: center;
  font-size: 18px;
  line-height: 135.94%;
  color: #000000;
}

.blog__primary img {
  width: 100%;
}

.blog__primary {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #231f20;
}

.primary__text {
  margin: 40px 15px 40px;
  color: white;
  text-align: start;
}

.primary__text p {
  margin: 0;
}

.primary__text h2 {
  font-weight: 400;
  padding: 27px 0 30px;
  color: white;
}

.primary__text a {
  font-size: 18px;
  text-decoration: none;
  color: white;
}

.blogs {
  margin: 40px auto 80px;
  display: flex;
  flex-direction: column;
}

.blog__secondary {
  max-width: 474px;
  margin: 15px 15px;
  padding: 15px 30px;
  font-size: 14px;
  line-height: 140.62%;
  /* or 25px */

  color: #000000;
}

.blog__secondary a {
  font-size: 12px;
  line-height: 140.62%;
  color: #000000;
}

.blog__secondary:hover {
  background-color: white;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}

footer {
  padding: 20px 10px;
  display: block;
  text-align: center;
  background: #fafafa;
}

.footerMenu {
  display: none;
}

.footerMenu a {
  font-size: 14px;
  line-height: 140.62%;
  /* identical to box height, or 20px */

  color: #000000;
}

.footerMenu span {
  font-family: "Homemade Apple", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 39px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;

  color: #f7941e;
}

.social {
  max-width: 300px;
  display: inline;
}
.social a {
  padding: 5px;
}

footer .logo {
  margin: 0;
  color: #f7941e;
}
.button {
  display: inline-block;
  padding: 12px 24px;
  border: 1px solid #f7941e;
  text-transform: uppercase;
  text-decoration: none;
  color: #f7941e;
  border-radius: 5px;
}

.button.button_primary {
  color: white;
  background-color: #f7941e;
}

.burger-button {
  position: absolute;
  top: 56px;
  left: 16px;
  border: none;
  height: 2px;
  width: 32px;
  background-color: #000;
  z-index: 999;
}

.burger-button:before,
.burger-button:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 32px;
  background-color: #000;
  left: 0;
}

.burger-button:before {
  top: -8px;
}

.burger-button:after {
  bottom: -8px;
}

.burger-button.opened {
  transform: rotate(45deg);
  position: fixed;
}

.burger-button.opened:before {
  top: 0;
}

.burger-button.opened:after {
  transform: rotate(90deg);
  bottom: 0;
}

.buttons .button {
  border-color: black;
  color: #000;
}

.buttons .button.button_primary {
  background-color: black;
  color: #fff;
}

hr {
  display: none;
  border: 1px solid #000000;
}
@media screen and (min-width: 425px) {
}

@media screen and (min-width: 768px) {
  header {
    padding: 0 40px;
    flex-wrap: nowrap;
  }

  header .logo {
    width: auto;
  }
  header .button {
    margin: 0;
  }
  header nav {
    display: block;
    position: static;
    width: auto;
    top: 0;
    left: 0;
    /* background-color: white; */
  }

  header nav ul {
    display: flex;
    justify-content: center;
  }

  header nav ul li {
    width: max-content;
  }

  .burger-button {
    display: none;
  }

  h1 {
    font-size: 56px;
    line-height: 69px;
    color: #000000;
  }

  .findgiftnow {
    width: 720px;
    max-width: none;
    height: auto;
    padding: 154px 126px 135px 162px;
  }

  p {
    max-width: none;

    font-size: 20px;
    line-height: 140.62%;
    /* or 28px */

    color: #000000;
  }

  .how_work {
    width: 720px;
    max-width: none;
    height: auto;
    padding: 154px 126px 135px 162px;
  }

  .option {
    /* margin: 30px auto; */
    background: #fafafa;
  }

  .buttons {
    flex-direction: row;
  }

  .buttons a {
    margin: 25px 15px 0;
  }

  .blog__primary {
    flex-direction: row;
  }

  .blog__primary p {
    font-size: 14px;
    line-height: 140.62%;

    color: #ffffff;
  }

  .blog__primary h2 {
    padding-bottom: 60px;
    font-size: 32px;
    line-height: 35px;
    color: #ffffff;
  }

  .blog__primary a {
    font-size: 18px;
    line-height: 140.62%;

    color: #ffffff;
  }

  .blogs {
    align-items: center;
  }

  footer {
    padding: 100px 0 35px;
    /* max-width: 1440px; */
  }

  hr {
    display: block;
    max-width: 1170px;
    margin: 55px auto;
  }
  .footerMenu {
    margin: auto;
    max-width: 700px;
    display: flex;

    justify-content: space-between;
  }

  .social a {
    margin: 0 12px;
  }

  .policy {
    margin: 75px 0 35px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .policy a,
  .policy p {
    margin: 0 7px;
    font-size: 14px;
    line-height: 140.62%;
    /* identical to box height, or 20px */

    text-align: center;

    color: #000000;
  }
}

@media screen and (min-width: 992px) {
  header {
    padding: 0 80px;
  }

  .contacts {
    flex-direction: row;
    justify-content: space-between;

    padding: 81px 50px 69px;
  }

  .contacts h2,
  .contacts p {
    text-align: start;
    font-size: 32px;
    line-height: 140.62%;
    /* identical to box height, or 45px */

    color: #000000;
  }

  .buttons a {
    margin: 0 15px;
  }

  .blog {
    align-items: center;
  }
  .primary__text {
    margin: auto auto auto 78px;
  }
  .blog__primary h2 {
    font-size: 48px;
    line-height: 58px;

    color: #ffffff;
  }

  .blogs {
    flex-direction: row;
    justify-content: center;
  }

  .blog__secondary {
    max-width: 570px;
    padding: 50px;
  }

  .blog__secondary p {
    font-size: 18px;
    line-height: 140.62%;
    /* or 25px */

    color: #000000;
  }
}

@media screen and (min-width: 1170px) {
  .blog .wrapper {
    max-width: 1170px;
  }

  .blogs {
    justify-content: space-between;
  }

  .blog__secondary {
    margin: 0;
  }
}
@media screen and (min-width: 1440px) {
  /* .findgift {
    background-image: none;
  } */
  .findgift img {
    display: block;
  }

  .findgift .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: none;
    background: #f1f1f2;
  }

  .findgiftnow {
    width: 720px;
    padding: 154px 126px 135px 162px;
    text-align: start;
    align-items: flex-start;
  }

  .about {
    background-image: none;
  }
  .about img {
    display: block;
  }

  .about .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: none;
    background: #f1f1f2;
  }

  .how_work {
    width: 720px;
    padding: 154px 126px 135px 162px;
    text-align: start;
    align-items: flex-start;
  }

  .how_work .button.button_primary {
    background: none;
    color: #f7941e;
  }

  .slider {
    display: none;
  }

  .gifthover .options {
    display: grid;
  }

  .options {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
    grid-column-gap: 30px;
    /* flex-flow: row wrap; */
    /* justify-content: space-around; */
    padding-bottom: 80px;
  }

  .option {
    margin: 0;
  }

  .contacts {
    justify-content: center;
  }

  .head {
    margin-right: 115px;
  }

  .buttons {
    margin-left: 115px;
  }
}
